doctype html
html(ng-app='sohApp' ng-controller='MainCtrl')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
		base(href='/')
		title {{pageTitle}}
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		<!-- build:css -->
		link(href='main.css' rel='stylesheet')
		<!-- endbuild -->

	body
		//[if lt IE 10]>
			<p>You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
			<![endif]


		ng-view



		<!-- build:vendor -->
		script(src='/socket.io/socket.io.js')
		script(src="bower_components/angular/angular.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="bower_components/angular-resource/angular-resource.js")
		script(src="bower_components/angular-cookies/angular-cookies.js")
		script(src="bower_components/angular-sanitize/angular-sanitize.js")
		script(src="bower_components/ngDialog/js/ngDialog.js")
		<!-- endbuild -->

		<!-- build:js -->
		script(src="app.js")
		script(src="scripts/services/services.js")
		script(src="scripts/controllers/main.js")
		script(src="scripts/controllers/home.js")
		script(src="scripts/controllers/auth.js")
		<!-- endbuild -->

