@import '../bower_components/_normalize.scss/_normalize.scss',
				'base/base', 'base/mixins', 'base/helpers', 'base/variables', 'base/buttons';

// Limit your lines to 80 characters. Yes, screens have gotten much bigger over
// the last few years, but your brain has not. Use the additional room
// for split screen, your editor supports that, right? The end of this is eighty.


// all of your styles will be found below
// or in /helpers, /variables, /mixins, /buttons


// soh styles begin ---
::selection { color:$brick; background:$ivory; }
html, body { height:100%; color:$maintype; background:whitesmoke; }
a, input, textarea, button, select {
	&, &:focus { outline:none; appearance:none; }
        &:hover { color:#fffff0; }
}
a {
	color: lighten($steel,5%); font-weight:500; text-decoration:none;
	transition:color .05s linear;
	&:hover, &:active { color: darken($steel,10%); }
	&:visited { color: $lblue; }
}
input, textarea {
	background-color:snow; padding:.5em; margin:.25rem;
	border-radius: $radius; border: 1px solid #ddd;
	transition:all .2s linear;
	&:focus {
		box-shadow:inset 0 0 2px $steel; border-color:$lblue; background:white;
	}
}
.select-wrap {
	position:relative; margin:.25rem; background:grad(snow, azure);
	border:1px solid #ddd; border-radius:$radius;
	&:hover {
		box-shadow:0 0 2px lighten($steel,30%); border-color:$lblue; background:white;
	}
	i {
		@include triangle(.5rem, #cbcbcb, top); position:absolute;
		top:.85rem; right:1rem;
	}
	select {
		position:relative; padding:.5rem .5rem .5rem 1rem; width:100%;
		-webkit-appearance:none; -moz-appearance:none; appearance:none;
		border:none; box-shadow:none;
		background-color:transparent; background-image:none;
		&:hover { cursor:pointer; }
	}
}
input[type='checkbox'], input[type='radio'] { display:none; }
label {
	position:relative; display:inline-block; margin-right:1rem; cursor:pointer;
}
label:before {
	content:''; position: relative; bottom: -2px; width:1rem; height:1rem;
	margin-right:.5rem; display: inline-block; color:$steel;
	border: 1px solid #ccc; border-radius:$radius; transition: border .2s;
	background:$sohblue;
}
label:hover:before {
	border-color:$steel;
}
input[type='radio'] + label:before {
	border-radius: 100%;
}
input[type='radio']:checked + label:before,
input[type='checkbox']:checked + label:before {
	background-color:lighten($steel,5%); box-shadow: 0 0 0 2px $sohblue inset;
}
li { list-style:none; }
// soh styles end ---

//body { padding: 4rem 8rem; }
h1 { background:$brand-color; color:cornsilk; padding-left:1rem; }
nav ul { display:inline-block; }






// main content here





/* Media Queries
------------------------------------------*/
@media #{$xs} {

}

@media #{$sm} {

}


@media #{$md} {

}



/* Retina
------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}



















/* Style Guide page only ---
 TODO: move to its own stylesheet/mini-site away from production - maybe styleguide.soh.com
------------------------------------*/
.style-guide { h1,h2,h3 { font-weight:100; } h4,h5,h6 { font-weight:200; }}
.row.case { margin: 1rem auto; }
.pallet .case { background:$sohblue; }
.block {
	background:#E0EEE0; margin:$base-space; border-radius:$radius;
	padding:0 .2rem .2rem;
}
.section .block:nth-child(n+2) { margin-top:2rem; }
.inner { background:white; }
header {
	position:relative; overflow:hidden;
	h1, h4 { position:relative; z-index:2; }
	h4 { font-weight:200; color:$ired; }
}
.circle {
	position:absolute; top:50%; left:50%; z-index:0;
	height:40rem; width:40rem; transform: translateX(-50%) translateY(-50%);
	border-radius:100%; border:1px dashed $brick; background:$sohblue;
}
.style-guide section { background:snow; }
section {
	h2:first-child {
		@extend .pad; background:white; border-radius:3px 3px 0 0;
		margin-top:0; @include border-shine(#efefef);
	}
	h5:first-child {
		margin:0; padding:$base-space/2; text-transform:uppercase; font-weight:200;
		color:darken(#E0EEE0,40%); @include press(.1,.4);
	}
}
.style-guide code {
	.wrap {
		padding:1rem 2rem; font-size:.9rem;
		@include inset(.1,.1); border-radius:$radius; background:black(.03);
	}
	h5 {
		margin:0; padding:$base-space/2;
		text-transform:uppercase; text-align:center;
		font-weight:200; font-size:90%;
		color:purple; @include press(.1,.4);
		border:1px dashed rgba(purple, .2); border-radius:2px;
	}
	.indent { padding-left:1rem; }
	.indent2 { padding-left:2rem; }
	.indent3 { padding-left:3rem; }
}


// Palette
.sample {
	@extend .sm2; float:left; text-align:center; margin:1rem; font-weight:200;
	div {
		@extend .case; border-radius:$radius; border:1px solid gainsboro;
		height:10rem; margin-top:1rem;
	}
}
ul.primary-list li {
	&:nth-child(1) div { background:$sohblue; }
	&:nth-child(2) div { background:$brick; }
	//&:nth-child(2) div { background:lighten($brick,15%); }
	&:nth-child(3) div { background:$ivory; }
	&:nth-child(4) div { background:$maintype; }
	&:nth-child(5) div { background:snow; }
}
ul.secondary-list li {
	&:nth-child(1) div { background:$lblue; }
	&:nth-child(2) div { background:$ired; }
	&:nth-child(3) div { background:lemonchiffon; }
	&:nth-child(4) div { background:$steel; }
	&:nth-child(5) div { background:oldlace; }
}
ul.mixer-list li {
	&:nth-child(1) div {
		@include grad(#F0FFFF, #ADD8E6);
	}
	&:nth-child(2) div {
		@include grad(#CD5C5C, #B22222);
	}
	&:nth-child(3) div {
		@include grad(azure, #FDF5E6);
	}
	&:nth-child(4) div {
		@include grad(azure, #FFFFF0);
	}
	&:nth-child(5) div {
		@include grad(#F0FFFF, #F9F9F9);
	}
	&:nth-child(6) div {
		@include grad(lightblue, oldlace);
	}
	&:nth-child(7) div {
		@include grad(lightblue, ivory);
	}
	&:nth-child(8) div {
		@include grad(lightblue, snow);
	}
	&:nth-child(9) div {
		@include grad(lightblue, steelblue);
	}
	&:nth-child(10) div {
		@include grad(ivory, snow);
	}
}


// Typography
.headers { margin-left:1rem; }
.anchors { margin:0 0 1.5rem 1rem; }

/* Retina
------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {

// Buttons
ul.buttons {
	margin: 0; padding:0;
	p { margin:0; padding:0 0 0 2rem; font-size:1.125em; }
}
.buttons li {
	@extend .sm2; float:left; text-align:center; margin:1rem; font-weight:200;
	& > div { height:4rem; margin-top:1rem; }
}
.btn-blue {
	background:azure; border-color:steelblue; color:steelblue;
	&:hover, &:active {
		background:$steel; color:white;
	}
}
.btn-lblue {
	background:azure; border-color:lightblue; color:darken(lightblue,30%);
	&:hover, &:active {
		background:darken($lblue,20%); border-color:darken($lblue,20%); color:white;
	}
}
.btn-red {
	background:azure; border-color:$brick; color:$brick;
	&:hover, &:active {
		background:lighten($brick,10%); border-color:lighten($brick,10%); color:white;
	}
}
.btn-ired {
	background:azure; border-color:$ired; color:$ired;
	&:hover, &:active {
		background:$ired; border-color:$ired; color:white;
	}
}
.btn-bliv {
	background:ivory; border-color:$steel; color:$steel;
	&:hover, &:active {
		background:$sohblue;
	}
}
.btn-bliva {
	background:ivory; border-color:$lblue; color:darken(lightblue,30%);
	&:hover, &:active {
		background:$sohblue;
	}
}
.btn-rediv {
	background:ivory; border-color:$brick; color:$brick;
	&:hover, &:active {
		background:$lace;
	}
}
.btn-mix {
	@include grad(azure, ivory); color:$steel; border-color:$lblue;
	&:hover, &:active {
		background:$sohblue;
	}
}
.btn-mix2 {
	@include grad(snow, azure); color:$steel; border-color:$lblue;
	&:hover, &:active {
		background:snow;
	}
}
.btn-mix3 {
	@include grad(snow, ivory); color:$steel; border-color:$lblue;
	&:hover, &:active {
		background:snow;
	}
}
.tactile {
	.btn-blue {
		&:hover, &:active {
			background:$sohblue; color:$steel;
		}
	}
	.btn-lblue {
		&:hover, &:active {
			background:$sohblue; border-color:$lblue; color:darken($lblue,30%);
		}
	}
	.btn-red {
		&:hover, &:active {
			background:azure; border-color:$brick; color:$brick;
		}
	}
	.btn-ired {
		&:hover, &:active {
			background:azure; border-color:$ired; color:$ired;
		}
	}
	.btn-bliv {
		&:hover, &:active {
			background:ivory; border-color:$steel; color:$steel;
		}
	}
	.btn-bliva {
		&:hover, &:active {
			background:ivory; border-color:$lblue; color:darken(lightblue,30%);
		}
	}
	.btn-rediv {
		&:hover, &:active {
			background:ivory; border-color:$brick; color:$brick;
		}
	}
	button {
		box-shadow:0 2px 3px 0 rgba(black,.25);
		&:hover { box-shadow:none; }
		&:active { box-shadow:inset 0 1px 4px 0 rgba(black,.4); }
	}
	button.btn-sm {
		box-shadow:0 2px 2px 0 rgba(black, .2);
		&:hover { box-shadow:none; }
		&:active { box-shadow:inset 0 1px 3px 0 rgba(black,.3); }
	}
}


// Text Input, Textarea, Select
.inputs {
	height:8rem;
	input, textarea { width:15rem; }
	textarea { height:6rem; }
}
.select { height:4rem; }


// Checkbox & Radio
.checkboxes { height:3rem; }




