section.row
	.md2.col
		button(ng-click='getPosts()') Get posts
	.md10.col
		.row
			div(class='block md4 col' ng-repeat='post in feed')
				h5
					{{post.from.name}}
				div.inner.pad
					p {{post.message}}
					img(ng-src='{{post.picture}}')

	