.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a(href='/' class='navbar-brand') SOH
		.collapse.navbar-collapse
			ul.nav.navbar-nav.pull-right
				li(ng-if='user === null')
					a(href='/signin') Sign In
				li(ng-if='user === null')
					a(href='/signup') Sign Up
				li(ng-if='user !== null')
					a(href='/logout') Logout

