.row
	.column.xs2
		ul
			li(ng-repeat='service in services') {{service.name}}
		button(ng-click='addService()') Add Service
		a(href='/auth/logout') Logout
	.column.xs10
		ul
			li(ng-repeat='post in feed')
				h5
					a(href='/post/{{$index}}') {{post.title}}
