section(class='row case')
	div(class='md3')
	div(class='md6 md-push3 text-center')
		h2 {{pageTitle}}
		h4 Register with following services or 
			a(href='/login') login 
		
		div(ng-controller='AuthCtrl')
			ul(ng-repeat='service in signinUrls')
				a(href='{{service.url}}')
					img(src='images/services/{{service.name}}.png' )

	
