.btn, button, input[type='submit'] {
	font-family:inherit; font-size:100%; cursor:pointer; padding:0;
	display:inline-block; vertical-align:middle; white-space:nowrap;
	background:white; border:1px solid #ddd; border-radius:$global-radius;
	padding-right:1.5em; padding-left:1.5em; line-height:2.5; font-weight:200;
	transition: color .1s linear, background .1s linear;
	&, &:hover { text-decoration:none; }
	&:hover { background:#eee; }
	&:active, &:focus { outline:none; }
}

.btn-sm {
	padding-right:0.5em; padding-left: 0.5em; line-height:2; font-size:90%;
}

//.btn-md is default

.btn-lg {
	padding-right:2.5em; padding-left: 2.5em; line-height:3; font-size:120%;
}

// Fill the entirety of their container.
// Remove padding so that widths and paddings don’t conflict.
.btn-full {
	width:100%; padding-right:0; padding-left: 0; text-align:center;
}

// Make the button inherit sizing from its parent.
.btn-natural {
	vertical-align:baseline; font-size:inherit; line-height:inherit;
	padding-right:0.5em; padding-left: 0.5em;
}

.btn-primary {}
.btn-secondary {}
.btn-tertiary {}

// Positive actions; e.g. sign in, purchase, submit, etc.
.btn-positive { background-color:#4A993E; color:#fff; }

// Negative actions; e.g. close account, delete photo, remove friend, etc.
.btn-negative { background-color:#b33630; color:#fff; }

// Look like normal text when hovered.
.btn-inactive {
	&, &:hover, &:active, &:focus {
		background-color:#ddd; color:#777; cursor:text;
	}
}

// Completely rounded, pill-like ends
.btn-soft { border-radius:200px; }
.btn-hard { border-radius:0; }


