@import 'variables', 'mixins';


.cf { @include clearfix(); clear:both; }

.img-right {
	float:right;
	margin-bottom:$base-space;
	margin-left:$base-space;
}
.img-left {
	float:left;
	margin-right:$base-space;
	margin-bottom:$base-space;
}
.img-center {
	display:block;
	margin-right:auto;
	margin-bottom:$base-space;
	margin-left:auto;
}

// rounded container
.case {
	background-color:#fefefe;
	box-shadow:0 1px 3px 0 black(.15);
	border-radius:$radius;
}

.pad { padding:$base-space; }

// 'quiet' type
.muted {
	opacity:0.5!important;
	filter:alpha(opacity = 50)!important;
}





