@import 'base', 'variables';


// http://sass-lang.com/documentation/Sass/Script/Functions.html#rgba-instance_method
// use this built-in function instead:
// rgba(your_color, opacity);
@function black($opacity){ @return rgba(0,0,0,$opacity); }
@function white($opacity){ @return rgba(255,255,255,$opacity); }

// Code box effect (.1, .1)
@mixin inset($opacity, $opacity2){
  box-shadow:inset 0 1px 3px black($opacity), 0 1px 0 white($opacity2);
}

// Pressed letter effect (.1, .4)
@mixin press($opacity, $opacity2){
  text-shadow: -1px -1px 0 black($opacity), 1px 1px 0 white($opacity2);
}

// Pressed line divider effect
@mixin border-shine($color){
  border-bottom:1px solid ($color); box-shadow: 0 1px 1px 0 white(.3);
}

@mixin box-sizing($type:border-box) {
  @if $experimental {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
  }
  box-sizing: $type;
}

@mixin clearfix {
	*zoom:1;
	&:before, &:after { content: ''; display: table; }
	&:after { clear: both; }
}

@mixin triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  @if ($triangle-direction == top) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }
  @if ($triangle-direction == bottom) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }
  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }
  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

@mixin grad($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

