@import 'base';


// COLORS
$ivory: ivory;
$lace: oldlace;
$sohblue: azure;
$lblue: lightblue;
$steel: steelblue;
$brick: firebrick;
$ired: indianred;
$maintype: $body-font-color;
$darktype: #1f1f1f;


// ELEMENTS
$radius: $global-radius;		// 3px
$rounded: $global-rounded;	// 1000px
$base-space: $base-line-height;		// 24px






